CompileFlags:
  Remove: [-mno-direct-extern-access]
  CompilationDatabase: build
Index:
  Background: Build
InlayHints:
    Designators: true
    Enabled: true
    ParameterNames: true
    DeducedTypes: true